@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    background-color: #f4f4f4;
}
.App {
overflow: hidden;
  background-color: #f4f4f4;
  font-family: lato;
  display: grid;
  width: 100%;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "nav lottieNav info"
                        "lottie lottie lottie"
                        'footer footer footer'
}

.notHome {
    display: block;
    overflow: auto;
}

/* Nav */

.nav {
    grid-area: nav;
    height: 35px;
    display: inline-block;
    margin-top: 10px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding-left: 1vw;
}


.nav-item {
    text-decoration: none;
    font-size: 1.7rem;
    display: block;
    margin: 10px 4px;
}

.nav-item-link:hover {
    background-position: 200%;
    color: #333;
    text-decoration: line-through;
    border-right: none;
    background-color: #f4f4f4;



}


.nav-item-link {
    color: white;
    background-color: black;
    /* padding: 3px; */
    display: inline;
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 7px;
    padding-right: 7px;
    color: #f4f4f4;
    background-image: linear-gradient(to right, #f4f4f4 50%, #f4f4f4, transparent, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s ease;
    border-right: none;

}




@media screen and (max-width: 700px) {

.nav-item  {
  font-size: 16px;


}
}
.nav-item::before {
    content: ''
}

/* .nav-item-wrap {
    border: none;
    width: 5vw;
    height: 93%;
    position: relative;
    left: 20%;
}

.nav-item-wrap:hover {
    border: 1px solid;
    border-radius: 75%;
} */

/* .nav-svg {
    position: relative;
    left: -19%;
}

.nav-svg-symbol {
    transition: none;
} */

/* Lottie Nav */

.lottieNav {
    grid-area: lottieNav;
}

.lottieNav path {
    transition: 2s ease;
}

.lottieNav div {
    padding-left: 1vw;
    padding-right:1vw;

}

.lottieNav div div svg {
    height: 7vw;
}
@media screen and (max-width: 1000px) {
    .lottieNav div div svg {
        height: 9vw;
    }
}

/* Lottie */
.lottie {
    grid-area: lottie;
    width: 100vw;
}

/* Info */
.info {
    grid-area: info;
    text-align: right;
    font-family: 'Roboto';
    text-transform: uppercase;
}


.info h3, .info h4 {
    margin: 0  1vw 0 0;
    padding: 0;
}
.info h3 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2.4vw
}
.info h4 {
    font-weight: 100;
    font-size: 2.3vw;
}


@media screen and (max-width: 1000px) {

    .info h3 {
        font-size: 3vw
    }
    .info h4 {
        font-size: 2.9vw;
    }
}

.sliderVis {
    transform: translateX(0%);
    height: 100%;
}

.sliderInvis {
    transform: translateX(100%);
    height: 100%;
}

.wrapperHigh {
    z-index: 10;
}

.wrapperLow {
    transition-delay: 1.5s;
    z-index: -10
}

/* Footer */
.footer {
    grid-area: footer;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 0;
}

.title {
    font-family: 'Roboto', sans-serif;
    float: right;
    grid-column: 1;
    text-align: center;


}

@media screen and (max-width: 1000px) {

    .footer .title h2 {
        margin-bottom: 10px;

    }
}
@media screen and (max-width: 500px) {

    .footer .title h2 {
        margin-bottom: 15px;

    }
}
.title h1 {
    font-weight: 900;
    font-size: 6vw;
    vertical-align: bottom;
    position: relative;
    top: 45%;
    transform: translateY(-45%);


}
.title h2 {
    font-weight: 100;
    font-size: 3vw;
    padding: 0;
    margin: 0;
    position: relative;
    top: 20%;
    transform: translateY(-20%);

}

.byline {

    font-family: 'Roboto Mono', monospace;
    float: right;
    grid-column: 2;
    text-align: left;
    font-weight: 300;
    font-size: 1.7vw;
    padding-bottom: 4px;

}
.byline p {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    width: 85%;
    padding-bottom: 4px;
}
/* stop page css  */

.stopNavTop img {
    width: 100px;
}
nav.bottomNav {
    margin: auto;
   max-width: 22%;



}
nav.bottomNav p {

    color: white;
    background-color: black;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    padding:2px;
    margin: auto;
    text-align: center;
    width: 100%;



}

.stopNavTop p {
    vertical-align: top;
    display: inline-block;
    padding-top: 7%;
    margin: 0;
    text-transform: uppercase;
}
@media screen and (max-width: 500px) {

    .stopNavTop p {

        padding-top: 5%;

    }
    }

        /* @media screen and (max-width: 1100px) {

            .stopNavTop p {

                padding-top: 9%;

            }
            } */

.stopNavTop {
    width: 30%;
    display: inline-block;
    cursor: pointer;
    padding-left: 2%;

}

.stopNavTop, .navLeft {
    box-sizing: border-box;
}
.stopNavTop img {
    width: 20%;
}

@media screen and (max-width: 1000px) {

    .stopNavTop img {
        width: 30%;
    }
    }


/* @media screen and (max-width: 1000px) {

    .stopNavTop img {
        width: 40%;
    }
    } */
.navLeft {
    padding-right: 2%;
}
 .navLeft, .navLeft p, .navLeft img {
    float: right;
}

div.straightLine {
    border-right:  solid thin black;
    height: 50px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.image img {
    width: 100vw;
}
.tracker {
    text-align: center;
    margin-bottom: 8px;
}
.tracker h4 {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1.1vw;

}

@media screen and (max-width: 500px) {

    .tracker h4 {
        font-size: 20px;


    }
    }
.text-holder {
    width: 50%;
    display: inline-block;
    padding: 20px 30px 10px 30px;
    box-sizing: border-box;
    vertical-align: top;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 19px;
    line-height: 20px;
    padding-bottom: 10px;
}


.button-holder  {
    width: 50%;
    display: inline-block;
    padding: 20px 30px 10px 30px;
    box-sizing: border-box;

}
@media screen and (max-width: 800px) {

      .text-holder {
          width: 60%;
          font-family: "Roboto";
          font-weight: 400;
          font-size: 15px;

      }
      .button-holder {
          width: 40%;
      }

      }
.button-holder .button-text {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 42%;
}
@media screen and (max-width: 1200px) {
    .button-holder .button-text {

        width: 52%;
    }

    }

    @media screen and (max-width:800px) {
        .button-holder .button-text {

            width: 72%;
        }

        }
.button-holder .button {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 10%;
}

/* Video For Modal */
.rh5v-DefaultPlayer_component {
    position: fixed!important;
    top: 1%;
    bottom: 1%;
    left: 1%;
    right: 1%;
}


/* food and plate home page buttons  */
.food-button {
    border-right: solid thin black;
    text-align: right;
}
.plate-button {
    margin-right:160px;
}

.food-button button, .plate-button button {
 background-color: #f4f4f4;
 border: none;
 font-family: "Roboto";
 font-size: 3vw;
 font-weight: 900;
 vertical-align: top;


}

.plate-button button {
    cursor: e-resize;
}
.food-button button {
    cursor: w-resize
}

.food-button p, .plate-button p {
margin: 0;
font-family: "Roboto";
font-size: 24px;
font-weight: 100;
letter-spacing: 3px;
width: 100%;

}
@media screen and (max-width:920px) {
    .food-button p, .plate-button p {

        font-size: 14px;


        }
    }
    @media screen and (max-width:450px) {
        .food-button p, .plate-button p {

            font-size: 9px;


            }
        }

.food-button p {
    text-align: right;
}
.plate-button img {
    margin-left: 20px;
    width: 4vw;
}
 .food-button img {
    margin-right: 20px;
     width: 4vw;


}
@media screen and (max-width:1200px) {
    .food-button img, .plate-button img {

       display: none;



       }
       .plate-button {
        margin-right:120px;
    }

    }
    button:focus {
        outline: none;
      }

      .button-holder img, .bottomNav, .nav-item-wrap {
        cursor: pointer;
      }


      /* about page css */

      div.block{
          margin-top: 200px;
        background: rgb(122, 206, 122);
        height: 400px;
        width: 100%;
        transform: skew(6deg) rotate(-10deg);
        -webkit-transform: skew(-6deg) rotate(-10deg);
        -moz-transform: skew(6deg) rotate(-10deg);
      }
  